.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }

 .List{
   
    padding: 10px;
 }
  li{
  display: flex; /* Ensure the li itself is a flex container */
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-style: italic;
  font-size: 1.0rem;

  }

  li span{
    color:rgb(74, 212, 20) ;
    margin-left: auto;
    font-size: larger;
    font-style: italic;
    padding-right: 20px;
    
  
 } 

 .cart-button {
  background-color: #2cc730;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px; /* Adjust as needed */
 
}
.cart-buttonremove {
  background-color: rgba(238, 49, 16, 0.822);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px; /* Adjust as needed */
}

.cart-button:hover {
  background-color: rgba(65, 209, 65, 0.637);
}
.cart-buttonremove:hover {
  background-color: rgba(207, 38, 8, 0.575);
}
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #2cc730;
    border-color: #2cc730;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #2cc730;
    color: white;
  }
 